extends header.pug
append body
    div
        label(class="userInfoLabel")="Username :"
    div
        label(class="userInfoLabel")="Games Played  :"
    div
        label(class="userInfoLabel")="Score :"
    div
        label(class="userInfoLabel")="Wins :"
    div
        label(class="userInfoLabel")="Losses :"
